In [1]:
import pandas as pd
import re

In [2]:
get = 'https://github.com/'

In [3]:
df = pd.read_excel('info.xlsx')
df

                                          information
0   | 1257 | segovialori03@gmail.com              ...
1   | 1258 | keelersam@gmail.com                  ...
2   | 1259 | kenalviola@gmail.com                 ...
3   | 1260 | alicia.j.gonzalez01@gmail.com        ...
4   | 1261 | o0amandagomez0o@gmail.com            ...
5   | 1262 | matthew.w.dalton@gmail.com           ...
6   | 1263 | barbara.ann.marques@gmail.com        ...
7   | 1264 | david.a.berchelmann@gmail.com        ...
8   | 1265 | david.r.alviola@accenturefederal.com ...
9   | 1266 | gabriela.i.tijerina@gmail.com        ...
10  | 1267 | brandon.j.bryant1@gmail.com          ...
11  | 1268 | caitlyn.r.carney@gmail.com           ...
12  | 1269 | john.allen.grinstead@gmail.com       ...
13  | 1270 | sullivan.justin.michael@gmail.com    ...
14  | 1271 | stephen.x.kane@gmail.com             ...
15  | 1272 | Ljackson3613@yahoo.com               ...
16  | 1273 | gabriella.b.broussard@gmail.com      ...

In [4]:
value = '| 1257 | segovialori03@gmail.com              | segovialori           | Lori Segovia        |'

n = re.findall(r'\w+\s\w+',value)[0]

e = re.findall(r'\S+@gmail.com',value)[0]

get = re.findall(r'\s(\w+)\s',value)[1]

In [5]:
df['name'] = df.information.apply(lambda value : re.findall(r'\w+\s\w+',value)[0])
df['email'] = df.information.apply(lambda value : re.findall(r'\S+@\w+.com',value)[0])
df['git_id'] = df.information.apply(lambda value : 'https://github.com/' + re.findall(r'\s(\w+)\s',value)[1])
df.drop(columns =['information'],inplace=True)

In [6]:
df.head()

,name,email,git_id
0,Lori Segovia,segovialori03@gmail.com,https://github.com/segovialori
1,Sam Keeler,keelersam@gmail.com,https://github.com/Sam
2,Ken Alviola,kenalviola@gmail.com,https://github.com/Ken
3,Alicia Gonzalez,alicia.j.gonzalez01@gmail.com,https://github.com/aliciag92
4,Amanda Gomez,o0amandagomez0o@gmail.com,https://github.com/o0amandagomez0o

In [7]:
df.to_excel("easely_info.xlsx")