In [7]:
from vega_datasets import data
df = data.sf_temps()
df.head()

   temp                date
0  47.8 2010-01-01 00:00:00
1  47.4 2010-01-01 01:00:00
2  46.9 2010-01-01 02:00:00
3  46.5 2010-01-01 03:00:00
4  46.0 2010-01-01 04:00:00

1. Which year and month combination has the highest amount of precipitation?
2. Visualize the amount of monthly precipitation over time.
3. Visualize the amount of wind over time. Choose a time interval you think is appropriate.
4. Which year-month combination is the windiest?
5. What's the sunniest year? (Hint: which day has the highest number of days where weather == sun?)
6. In which month does it rain the most?
7. Which month has the most number of days with a non-zero amount of precipitation?

### Which year and month combination has the highest amount of precipitation?

In [8]:
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day'] = df.date.dt.month
df['weekday'] = df.date.dt.day_name()
df.head()

   temp                date  year  month  day weekday
0  47.8 2010-01-01 00:00:00  2010      1    1  Friday
1  47.4 2010-01-01 01:00:00  2010      1    1  Friday
2  46.9 2010-01-01 02:00:00  2010      1    1  Friday
3  46.5 2010-01-01 03:00:00  2010      1    1  Friday
4  46.0 2010-01-01 04:00:00  2010      1    1  Friday