In [5]:
# Exercise 44
# Write a function definition named has_vowels that takes in value and returns True if the string contains any vowels.



def has_vowels(word):
    
    for letter in word:
    
        if letter.lower() in ('a','e','i','o','u'):
            
            return True
   
    return False

In [6]:
has_vowels('AAA')

False

In [10]:
# Write a function definition named get_unique_values_from_two_lists that takes two lists and returns a single set with only the unique values

def get_unique_values_from_two_lists(lst1,lst2):
    
    full_lst = lst1 + lst2
    
    return set(full_lst)

In [12]:
lst1 = [1,2,3,3,4,4,4]
lst2 = [1,2,5,5,5,6,7,8,]

get_unique_values_from_two_lists(lst1,lst2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Write a function definition named get_values_in_common that takes two lists and returns a single set with the values that each list has in common

#define afunction that takes in two lists
#add lists together to form one list
#convert the combined list to a set
#return the set



target_set = set(combined_list)

In [13]:
lst1 = [1,2,3,3,4,4,4]
lst2 = [1,2,5,5,5,6,7,8,]

combined_list = lst1 + lst2

combined_list

[1, 2, 3, 3, 4, 4, 4, 1, 2, 5, 5, 5, 6, 7, 8]

In [14]:
target_set = set(combined_list)

target_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
def get_values_in_common(lst1,lst2):
    
    combined_list = lst1 + lst2
    
    target_set = set(combined_list)
    
    return target_set

In [16]:
lst1 = [1,2,3,3,4,4,4]
lst2 = [1,2,5,5,5,6,7,8,]

get_values_in_common(lst1,lst2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
def get_values_not_in_common(lst1,lst2)


    return set(set(lst1) ^ set(lst2))

In [19]:
get_values_not_in_common(lst1,lst2)

{3, 4, 5, 6, 7, 8}

In [21]:
set(lst1)

{1, 2, 3, 4}

In [22]:
set(lst2)

{1, 2, 5, 6, 7, 8}

In [20]:
set(lst1) ^ set(lst2)

{3, 4, 5, 6, 7, 8}